<!doctype html>
<html>
  <head>
    <title>SUH Dude!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,300,800' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
  </head>

  <body>
    <div class="rect">
      <a href="/map"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <p id="page-title">ABOUT</p>
    </div>
    <div class="container">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p id="page-subtitle">The name of our application is SUH DUDE which is a parody of a popular meme
          and essentially stands for Start Up Here. The purpose of this application is to
          be a data center for eager entrepreneurs who want to utilize the data we provide
          to come up with the next big thing needed for San Diego. Find all the information
          you need to start the next business that will change the world.</p>
        </div>
    </div>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
