<!doctype html>
<html>
  <head>
    <title>SUH Dude!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,300,800' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
  </head>

  <body>
    <div class="rect">
      <a href="/map"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <p id="page-title">HELP</p>
    </div>
    <div class="font-white center" align="center" id="help-text">
      <p id="page-subtitle">SUH DUDE is an easy to use application. Just follow these simple steps:<br>
        <br>1. Select the region you're interested in<br>2. Check out the charts of the left of the screen
        <br>3. Look at all the differnt data: age, gender, race, income, and expenditures<br>4. Once you've figured out what place is right for your business...<br>Start Up Here!</p>
    </div><!--
    <div class="container">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p id="page-subtitle">SUH DUDE</p>
        </div>
    </div>-->

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
