<!doctype html>
<html>
<head>
  <title>SUH Dude!</title>	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background: url('../img/bg.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
	<div class="container">
		<h1 id="page-title">SUH DUDE</h1>
		<hr>
		<h4 id="page-subtitle">Just put your Start Up Here, dude.</h4>

		<div class="row">
			<div class="col-xs-6" align="center">
				<p class="font-white center buttonTitle">Don't know where to start?</p>
				<a href="/findout" class="button" id="landingBtn">LET'S FIND OUT</a>
			</div>
			<div class="col-xs-6" align="center">
				<p class="font-white center buttonTitle">Don't know what to do?</p>
				<a href="/getaclue" class="button" id="landingBtn">GET A CLUE</a>
			</div>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="./js/d3.min.js"></script>
</body>
</html>