<!doctype html>
<html>
  <head>
    <title>SUH Dude!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,300,800' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <div class="rect"></div>
    <div class="container">
      <div class="centered">
        <p id="page-title">SUH DUDE</p>
        <p id="page-subtitle">We provide the demographics, you find the perfect location.</p>
        <a type="button" href="/map" class="btn btn-lg home-btn">></a>
      </div>
    </div>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  </body>
</html>
