<!doctype html>
<html>
<head>
  <title>SUH Dude!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background: url('../img/bg.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
	<div class="container">
    <div style="margin-top: 5%">
  		<h1 id="page-title">SUH DUDE</h1>
  		<hr>
  		<h4 id="page-subtitle">Helping people with big ideas find the perfect home.</h4>
  		<p class="font-white buttonTitle center">Just Start Up Here, dude.</p>
      <div class="center">
  		<a href="/getaclue" class="center font-white no-deco" id="landingBtn">ENTER</a>
      </div>
    </div>
	</div>

  <div id="stat-section" class="container-fluid">
    <div class="description">
      <h1>Where is the most prospective area in San Diego?</h1>
      <p>assuming areas with high percentage of households that do not own any vehicle are more likely in need of uber/lyft drivers.</p>
      <br>
      <div class="container central">
        <div class="row">
          <div class = "col-xs-6">
            <h1 class="data5"></h1>
          </div>
          <div class = "col-xs-6">
            <h1 class="data4"></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="graph">
      <h1>Percentage of Households That Don't Have Vehicles in San Diego</h1>
      <div class="chart"></div>
    </div>
  </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="./js/d3.min.js"></script>
</body>
</html>
