<!doctype html>
<html>
<head>
  <title>SUH Dude!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="left-form">
      <div class="bg-dark title font-white center" id="logo"><a class="font-white no-deco" href="/">SUH DUDE</a></div>
      <p class="font-white center" id="description">
        pick a region
      </p>

      <div id="form-area">
        <form id="market-form">
          <div class="form-group">
            <select class="form-control" id="region-select">
              <option>San Diego</option>
              <option>La Jolla</option>
              <option>Mira Mesa</option>
              <option>Coronado</option>
            </select>
          </div>
          <div id="btnArea" align="center">
            <a class="button font-white center">go</a>
          </div>
        </form>
      </div>

      <div class="font-white center" id="about">about | <a class="font-white no-deco" data-toggle="modal" data-target="#helpModal">help</a></div>
    </div>

    <div class="right-form">
      <div id="donutchart" style="width: 400px; height: 500px;"></div>
    </div>

    <div id="map"></div>

    <!-- Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Help</h4>
          </div>
          <div class="modal-body">
            SUH, Dude!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Work',     11],
        ['Eat',      2],
        ['Commute',  2],
        ['Watch TV', 2],
        ['Sleep',    7]
      ]);

      var options = {
        title: 'My Daily Activities',
        titleColor: 'white',
        pieHole: 0.85,
        pieSliceBorderColor: 'transparent',
        pieSliceTextStyle: { color: 'transparent',},
        backgroundColor: { fill:'transparent' },
        chartArea: {'width': '90%', 'height': '80%'},
        legend: {'position': 'bottom'},
        legendTextStyle: {color:'#fff'},
        colors: ['#ffc966', '#ffd27f', '#ffdb99', '#ffe4b2', '#ffedcc']
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
    }
  </script>

  <script src="./js/overlay.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="./js/d3.min.js"></script>
</body>
</html>
