<!doctype html>
<html>
<head>
  <title>SUH Dude!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative|Averia+Serif+Libre:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,300,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Load c3.css -->
  <link href="/c3/c3.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="left-form font-white center">
      <div class="bg-dark" id="logo"><a class="no-deco" href="/">SUH DUDE</a></div>
      <div id="abouthelp">
        <a href="/about" class="underline no-deco">About</a> | <a href="/help" class="underline no-deco">Help</a>
      </div>
      <div style="margin-top: 10px">
        <p class="bg-dark chart-font" id="chart-title">Coastal</p>

        <div>
          <form class="market-form">
            <p style="font-size: 20px; margin-bottom: -5px;">Data Set</p><br>
            <ul class="nav nav-pills" id="datapills">
              <li class="active"><a href="#" data-toggle="tab" onclick="setAgeFlag();">Age</a></li>
              <li><a href="#" data-toggle="tab" onclick="setRaceFlag();">Race</a></li>
              <li><a href="#" data-toggle="tab" onclick="setGenderFlag()">Gender</a></li>
              <li><a href="#" data-toggle="tab" onclick="setIncomeFlag()">Income</a></li>
              <li><a href="#" data-toggle="tab" onclick="setExpenditureFlag()">Expenditures</a></li>
            </ul>
          </form>
        </div><br>

        <div id="dataChart" style="margin-bottom: -20px; margin-top: -20px; color:#000; text-align: left"></div>
        <hr>
        <p style="font-size: 15px" id="bar-title">Number of People</p>
        <div id="dataBar" style="margin-top: -30px; color:#000; text-align: left"></div>
      </div>


    </div> <!-- end right form -->

    <div id="map"></div>
    <div id="legend">
      Population
    </div>
    <div class="over-map font-white center"><p id="location-name" style="position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">Coastal</p></div>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Async -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/1.2.1/async.min.js"></script>
  <!-- Underscore -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/d3.min.js"></script>
  <!-- Load d3.js and c3.js -->
  <script src="./c3/c3.min.js"></script>
  <script src="./js/c3-donut.js"></script>
  <script src="./js/overlay.js"></script>

</body>
</html>
