body {
  background: rgba(77,98,167, 1);
}

#page-title {
	color: white;
	text-align: center;
	font-size: 200px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

#page-subtitle {
	color: white;
	font-size: 25px;
  font-weight: 300;
	text-align: center;

}

hr {
	width: 700px;
}

.home-btn{
  margin-top: 20px;
  width: 70px;
  height: 70px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border: solid 3px white;
  border-radius: 50%;
  background-color: rgba(65,84,132,1);
  box-shadow: 2px 2px 1px rgba(0,0,0, 0.5);
}

.home-btn:hover {
  color: #fff;
}

.centered {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rect {
  height: 50vh;
  background-color: rgba(65,84,132,1);
  box-shadow: 0px 5px 2px rgba(0,0,0, 0.5);
}
