p {
	font-weight: 100;
}
.left-form {
	height: 100%;
	background: rgba(77,98,167, 1);
	position: fixed;
	width: 250px;
	left: 0;
	overflow-y: auto;
	z-index: 1000;
	padding: 20px;
	box-shadow: 5px 5px 2px rgba(136,136,136, 0.5);
}

.right-form {
	height: 100%;
	background: rgba(77,98,167, 1);
	width: 450px;
	position: absolute;
	right: 0px;
	overflow-y: auto;
	z-index: 1000;
	padding: 20px;
	box-shadow: -5px 5px 2px rgba(136,136,136, 0.5);
}

label {
	color: white;
}

#submitBtn {
}

#btnArea {
	padding-top: 10px;
}

.market-form {
	bottom: 0;
	padding-top: 50px;
}

.font-white {
	color: white;
}

.bg-dark {
	background: rgba(65,84,132,0.7);
}

.chart-font {
	font-weight: 300;
	font-size: 35px;
	padding-top: 5px;
}

#chart-title {
	margin-top: 10px;
	width: 450px;
	right: 0;
	overflow-y: auto;
	z-index: 1000;
	position: fixed;
	height: 50px;
}

#logo {
	margin-top: 10px;
	width: 250px;
	left: 0;
	overflow-y: auto;
	z-index: 1000;
	position: fixed;
	height: 50px;
}

#description {
	padding-top: 100px;
	font-size: 25px;
}

.center {
	text-align: center;
}

.title {
	font-size: 35px;
}

#about {
	padding-top: 250px;
}

.button{
  margin-top: 65px;
  display: block;
  width: 100px;
  height: 50px;
  font-size: 20px;
  line-height: 45px;
  border-style: solid;
  border-width: 2px;
}

#page-title {
	color: white;
	text-align: center;
	padding-top: 150px;
	font-size: 100px;
	font-weight: 200;
}

#page-subtitle {
	color: white;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
}

hr {
	width: 700px;
}

.button:hover {
  text-decoration: none;
  color: #fff;
}

.buttonTitle {
	padding-top: 50px;
	font-size: 20px;
}

#landingBtn {
	margin-top: 20px;
	width: 180px;
	height: 70px;
	line-height: 60px;
	font-size: 20px;
	font-weight: 100;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
	color: #fff;
}

.no-deco:hover {
	text-decoration: none;
	color: #fff;
}

.no-deco:visited {
	text-decoration: none;
	color: #fff;
}

#map {
	height: calc(100vh);
	width: calc(100vw - 700px);
	margin-left: 250px;
}