p {
	font-weight: 100;
}
.left-form {
	height: 100%;
	background: rgba(77,98,167, 1);
	position: fixed;
	width: 450px;
	left: 0;
	overflow-y: auto;
	z-index: 1000;
	padding: 20px;
	box-shadow: 5px 5px 2px rgba(136,136,136, 0.5);
}

.right-form {
	height: 100%;
	background: rgba(77,98,167, 1);
	width: 450px;
	position: absolute;
	right: 0px;
	overflow-y: auto;
	z-index: 1000;
	padding: 20px;
	box-shadow: -5px 5px 2px rgba(136,136,136, 0.5);
}

label {
	color: white;
}

#submitBtn {
}

#btnArea {
	padding-top: 10px;
}

.market-form {
	bottom: 0;
	padding-top: 10px;
}

.font-white {
	color: white;
}

.bg-dark {
	background: rgba(65,84,132,1);
}

.chart-font {
	font-weight: 300;
	font-size: 35px;
	padding-top: 5px;
}

#chart-title {
	padding-top: 0px;
	left: 0;
	overflow-y: auto;
	z-index: 1000;
	height: 50px;
	font-weight: 100;
}

#logo {
	top: 0;
	width: 450px;
	left: 0;
	overflow-y: auto;
	z-index: 1000;
	position: fixed;
	height: 50px;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
}

#description {
	padding-top: 100px;
	font-size: 25px;
}

#abouthelp {
	margin-top:40px;
	color: #ffffff;
	text-align: center;
	font-size: 18pt;
	font-weight: 100;
}
#abouthelp a {
	color: #ffffff;
}

.center {
	text-align: center;
}

.title {
	font-size: 35px;
}

#about {
	position: absolute;
	bottom: 5px;
	left: 85px;
}

.button{
  margin-top: 65px;
  display: block;
  width: 100px;
  height: 50px;
  font-size: 20px;
  line-height: 45px;
  border-style: solid;
  border-width: 2px;
}

#page-title {
	color: white;
	text-align: center;
	padding-top: 140px;
	font-size: 100px;
	font-weight: 200;
}

#page-subtitle {
	color: white;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
}

hr {
	width: 700px;
}


.buttonTitle {
	padding-top: 50px;
	font-size: 20px;
}

#landingBtn {
	margin-top: 20px;
	width: 180px;
	height: 70px;
	line-height: 60px;
	font-size: 20px;
	font-weight: 100;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
}

.no-deco:hover {
	text-decoration: none;
	color: #fff;
}

.no-deco:visited {
	text-decoration: none;
	color: #fff;
}

#map {
	height: calc(100vh);
	width: calc(100vw - 450px);
	margin-left: 450px;
}

#location-name {
	font-size: 25px;
	padding-left: 5px;
	padding-right: 5px;
}

.over-map {
	position: absolute;
	left: 600px;
	top: 89%;
	border-radius: 25px;
	height: 75px;
	width: 200px;
	background-color: rgb(77,98,167);
}

.glyphicon {
	color: white;
	padding-top: 10px;
	font-size: 25px;
}

#legend {
    line-height: 18px;
    color: #555;
		background: white;
		padding: 10px;
		margin-left: 15px;
}

#legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff !important;
    background-color: #E8AE20 !important;

}

.nav > li > a {
	color: #fff !important;
	font-weight: 100;
}
